# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual envs
venv/
env/
.venv/

# Editor settings
.vscode/

# macOS
.DS_Store

# Model artifacts
*.h5
*.keras

# Dataset 
images/
dataset/
